

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.header {
  background-color: #33d4e6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.logo i {
  margin-right: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
}

.navbar a:hover {
  color: #ccc;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons div {
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-form {
  position: fixed; /* changed from absolute to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.search-form form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-form input[type="search"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.search-form label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-form #close-search {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.home {
  background-image: linear-gradient(rgba(251, 245, 245, 0.947), rgba(0, 0, 0, 0.5)), url("travel11.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box.content {
  text-align: center;
}

.box.content span {
  font-size: 1.5rem;
  color: #333;
}

.box.content h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.box.content p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2rem;
}

.box.content a {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.box.content a:hover {
  background-color: #444;
}

.category {
  background-color: #f5f5f5;
  padding: 2rem;
}

.category .heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.category .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category .box {
  margin: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category .box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.category .box h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}